@model List<CountryModel>
@using ApiConsume.Helpers
@{
    ViewData["Title"] = "Country List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="pagetitle">
    <h1>Country</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="HomeMaster" asp-action="Index">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Country List</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-end align-items-center">
        <a class="btn btn-outline-primary" asp-action="Add" asp-controller="Country">
            <i class="bi bi-plus-lg"></i>&nbsp;Add Country
        </a>
    </div>
</div><!-- End Page Title -->
@if (TempData["CountryInsertMsg"] != null)
{
    <div class="alert alert-success">
        @TempData["CountryInsertMsg"]
    </div>
}

<div class="mb-3">
    <input type="text" class="form-control" id="countrySearch" placeholder="Search Any">
</div>

<table class="table table-hover table-header-fixed">
    <thead>
        <tr>
            <th scope="col">Country Name</th>
            <th scope="col">Country Code</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>

                <td>@data.CountryName</td>
                <td>@data.CountryCode</td>

                <td class="d-flex ">
                    <a class="btn btn-outline-success btn-xs me-2 " asp-action="Add" asp-route-EnCountryID="@UrlEncryptor.Encrypt(@data.CountryID.ToString())">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <form asp-action="Delete"
                          asp-route-EnCountryID="@UrlEncryptor.Encrypt(@data.CountryID.ToString())"
                          method="post">
                        <button class="btn btn-outline-danger btn-xs d-flex" type="submit"><i class="bi bi-x"></i></button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
</>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#countrySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#countryTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
}
