@model BillModel

<div class="card">
    <div class="card-body">
        @if (@ViewBag.BillID == null || @ViewBag.BillID == 0)
        {

            <h5 class="card-title"> Add Bill </h5>
        }
        else
        {

            <h5 class="card-title"> Edit Bill  </h5>
        }
        <!-- Multi Columns Form -->
        <form class="row g-3" asp-action="Save">
            <input type="hidden" class="form-control" id="billID" asp-for="BillID">

            <div class="col-md-12">
                <label for="billNumber" class="form-label"><span class="text-danger">*</span>Bill Number</label>
                <input type="text" class="form-control" id="billNumber" asp-for="BillNumber">
                <span class="text-danger" asp-validation-for="BillNumber"></span>
            </div>

            <div class="col-md-12">
                <label for="billDate" class="form-label"><span class="text-danger">*</span>Bill Date</label>
                <input type="text" class="form-control" id="billDate" asp-for="BillDate">
                <span class="text-danger" asp-validation-for="BillDate"></span>

            </div>

            <div class="col-md-12">
                <label for="totalAmount" class="form-label"><span class="text-danger">*</span>Total Amount</label>
                <textarea type="text" class="form-control" id="totalAmount" asp-for="TotalAmount"></textarea>
                <span class="text-danger" asp-validation-for="TotalAmount"></span>

            </div>


            <div class="col-md-12">
                <label for="discount" class="form-label"><span class="text-danger">*</span>Discount</label>
                <input type="text" class="form-control" id="discount" asp-for="Discount">
                <span class="text-danger" asp-validation-for="Discount"></span>

            </div>

            <div class="col-md-12">
                <label for="netAmount" class="form-label"><span class="text-danger">*</span>Net Amount</label>
                <input type="text" class="form-control" id="netAmount" asp-for="NetAmount">
                <span class="text-danger" asp-validation-for="NetAmount"></span>

            </div>


            <div class="col-md-12">
                <label for="userID" class="form-label"><span class="text-danger">*</span>User </label>
                <select id="userID" class="form-control form-select" asp-for="UserID">
                    <option value="">Select User</option>
                    @foreach (var user in ViewBag.UserList)
                    {

                        <option value="@user.UserID">@user.UserName</option>
                    }
                </select>
                <span asp-validation-for="UserID" class="text-danger"></span>

            </div>

            <div class="col-md-12">
                <label for="orderID" class="form-label"><span class="text-danger">*</span>Order </label>
                <select id="orderID" class="form-control form-select" asp-for="OrderID">
                    <option value="">Select Order Date</option>
                    @foreach (var order in ViewBag.OrderList)
                    {

                        <option value="@order.OrderID">@order.OrderDate</option>
                    }
                </select>
                <span asp-validation-for="OrderID" class="text-danger"></span>

            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-controller="Order" asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}